NEXT_PUBLIC_GTM_ID=GTM-P4RX9S2X
NEXT_PUBLIC_WHATSAPP_PHONE=5519993941536
NEXT_PUBLIC_WHATSAPP_MESSAGE=Olá! Vim pelo site NovaCena Motion e tenho interesse em criar motions para lançamentos musicais. Origem: site_motion_google_ads
